[tool.poetry]
name = "slurmpilot"
version = "0.1.4.2"
description = "A tool for launching and tracking Slurm jobs across many clusters in Python."
license = "MIT"
authors = [
    "David Salinas <check@mywebsite.com>",
]
readme = "README.md"
repository = "https://github.com/geoalgo/slurmpilot"
keywords = ["ML ops", "slurm", "experiment management"]
classifiers = [
    "Topic :: Scientific/Engineering",
]

packages = [
  { include = "slurmpilot" },
]

[tool.poetry.dependencies]
python = ">= 3.10.0"
pyyaml = ">= 5.0"
pandas = ">= 2.0"
paramiko = ">= 3.0"